.git
.gitignore
.github
.gitattributes

.idea/
*.iml
*.iws
*.ipr
.vscode/
*.DS_Store

target/
!.mvn/wrapper/maven-wrapper.jar

.env
.env.*
*.env
application-local.properties
application-dev.properties
application-prod.properties
**/application-secrets.properties


src/test/

*.md
README*
LICENSE*
CHANGELOG*
docs/

*.log
logs/

Thumbs.db
